$cols: (
  'one',
  'two',
  'three',
  'four',
  'five',
  'six',
  'seven',
  'eight',
  'nine',
  'ten',
  'eleven',
  'twelve'
);

@mixin generateGrid($cols) {
  @each $col in $cols {
    $i: index($cols, $col);

    .#{$col}.column {
      $colWidth: length($cols) / $i;
      flex: 0 0 calc(100% / #{$colWidth});
      max-width: calc(100% / #{$colWidth});
    }
  }
}

// :root {

// }

.fxgrid,
.column {
  box-sizing: border-box;
}

.fxgrid {
  --fxgrid-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: {
    right: calc(var(--fxgrid-gap) / 2 * (-1));
    left: calc(var(--fxgrid-gap) / 2 * (-1));
  }

  .column {
    width: 100%;
    padding: calc(var(--fxgrid-gap) / 2);
  }

  @media (min-width: 20em) {
    &.absolute {
      @include generateGrid($cols);
    }
  }

  @media (min-width: 40em) {
    @include generateGrid($cols);
  }
}

// @include generateCols(12);
